# Python Basics NoteBook

In [ ]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
id="513"
#print("customer id =" + id)
#print("customer id ={}".format(id))
print(f"customer id ={id}")

customer id =513

In [ ]:
#Run the following statement, why there is an error

id=id+1
#can only concatenate str (not "int") to str
# type(id)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
id="513"
new_id=int(id)
new_id +=1
print(new_id)

514

In [ ]:
#Write a Python code to print the following string in a specific format (see the output).

# Twinkle, twinkle, little star,
#     How I wonder what you are!
#        Up above the world so high,
#            Like a diamond in the sky.
print("Twinkle, twinkle, little star,")
print("     How I wonder what you are!")
print("       Up above the world so high,")
print("            Like a diamond in the sky.")

Twinkle, twinkle, little star,
     How I wonder what you are!
       Up above the world so high,
            Like a diamond in the sky.

In [ ]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
split_string=course.split()
print(split_string[0])

Python

In [ ]:
# Print the element on the 13th index in the string
print(course[13])

t

In [ ]:
# Find the length of string
print(len(course))

23

In [ ]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [ ]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [ ]:
# Get every third element in the range from index 0 to index 20
print(course[:21])
print(course[0:21:3])

Python for Data Scien
Ph ra i

In [ ]:
# Concatenate course string with ", AI & Development"
#course = "Python for Data Science"
course= course + ", AI & Development"
print(course)

Python for Data Science, AI & Development

In [ ]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course=course.replace(' ','_')
print(course)

Python_for_Data_Science,_AI_&_Development

In [ ]:
# Convert all the characters in string to upper case
course=course.upper()
print(course)

PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT

## Module 2: List, Tuple, Dictionary, Sets

**1. TUPLES**

In [ ]:
#Q1 Create myTuple tuple with the follwoing values
#("NPower","JDA","Tuesday",30,3,2021)
myTuple = ("NPower","JDA","Tuesday",30,3,2021)

In [ ]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [ ]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [ ]:
#Q4 print the values in each index #Use regular indexing
print("Index\tValue\n")
for i in range(len(myTuple)):
  print("{}\t{}".format(i,myTuple[i]))

Index	Value

0	NPower
1	JDA
2	Tuesday
3	30
4	3
5	2021

In [ ]:
#Q5 print the values in each index #Use negative indexing.

print("Index\tValue\n")
for i in range(-1,-(len(myTuple)+1),-1):
  print("{}\t{}".format(i,myTuple[i]))

Index	Value

-1	2021
-2	3
-3	30
-4	Tuesday
-5	JDA
-6	NPower

In [ ]:
#Q6 what is the type of each value
print("Index\tValue\tType of Value\n")
for i in range(len(myTuple)):
  print("{}\t{}\t{}".format(i,myTuple[i],type(myTuple[i])))

Index	Value	Type of Value

0	NPower	<class 'str'>
1	JDA	<class 'str'>
2	Tuesday	<class 'str'>
3	30	<class 'int'>
4	3	<class 'int'>
5	2021	<class 'int'>

In [ ]:
#Q7 unpack myTuple in the following variables
#name,program,dayName,month,day,year accordingly
# print the variables

(name,program,dayName,day,month,year) = myTuple

print("Name: {}, Program:{}, Day Name:{}, Month:{}, Day:{}, Year:{}".format(name,program,dayName,month,day,year))

Name: NPower, Program:JDA, Day Name:Tuesday, Month:3, Day:30, Year:2021

In [ ]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [ ]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q9 Reverse myTuple, output should looks like
#(2021,3,30,"Tuesday","JDA","NPower")

myTuple_reversed = tuple(reversed(myTuple))
print("myTuple is : ",myTuple)
print("myTuple_reversed is : ", myTuple_reversed)

myTuple is :  ('NPower', 'JDA', 'Tuesday', 30, 3, 2021)
myTuple_reversed is :  (2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [ ]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [ ]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [ ]:
#Q12 print each element in the nestedTuple
print(f"Nested Tuple is {nestedTuple} \n")
print(f"Elements of Nested Tuple are:\n")
for i in nestedTuple:
  print(i)

# EXTRA:

print(f"\nIndividual Elements of Nested Tuple are:\n")

#STEP 1 - Create a recursive function
def iterate(collection):
  for element in collection:
    #print(element)
    if(type(element) is list or type(element) is dict or type(element) is tuple):
      iterate(element)
    else:
      x.append(element)
      #print(x)
  #print(x)
  return x

#STEP 2 - Use loop to iterate and print
x = []
for i in nestedTuple:
  output = []
  #print(i)
  if(type(i) is list or type(i) is dict or type(i) is tuple):
    x = iterate(i)
    for j in x:
      #print(j)
      output.append(j)
      #print(output)
  else:
    output.append(i)
    #print(output)

for i in output:
  print(i)

Nested Tuple is (('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

Elements of Nested Tuple are:

('Coursera', 'course', 6)
('week', (2, 'Lists', 'Tuple'))

Individual Elements of Nested Tuple are:

Coursera
course
6
week
2
Lists
Tuple

In [ ]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
print(nestedTuple[1][1])

(2, 'Lists', 'Tuple')

In [ ]:
#Q14 Access the value "Lists" from nestedTuple
print(nestedTuple[1][1][1])

Lists

In [ ]:
#Q15 Access the value "Tuple" from nestedTuple
print(nestedTuple[1][1][2])

Tuple

In [ ]:
#Q16 Access the value "course" from nestedTuple
print(nestedTuple[0][1])

course

In [ ]:
#Q17 Concatenate myTuple with nestedTuple
myTuple += nestedTuple
print(myTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [ ]:
#Q18 add your name to the tuple
myTuple+= ('Group 1',) # need to add comma to make it singleton tuple
print(myTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Group 1')

In [ ]:
#Q19 check whether Coursera exists within  myTuple. NOTE "in" doesn't work properly with nested tuples

print(f"myTuple is :{myTuple}\n")
wordToFind = "Coursera"
sampleTuple = ('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ([{'Coursera':123},123,'ABC'], 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Group 1')
# any() function => Returns True if any item in an iterable are true, otherwise it returns False.
# if any(wordToFind in str(i) for i in sampleTuple):
#         print(f"{wordToFind} exists in myTuple")
# else:
#   print(f"{wordToFind} does not exist in myTuple")

def check_coursera_exists(tup):
    for item in tup:
        if isinstance(item, tuple):
            if 'Coursera' in item:
                return True
            else:
                if check_coursera_exists(item):
                    return True
        elif item == 'Coursera':
            return True
    return False

if(check_coursera_exists(myTuple)):
  print("Coursera exists in myTuple")
else:
  print("Coursera does not exist in myTuple")

myTuple is :('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Group 1')

Coursera exists in myTuple

In [ ]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
var = 55

if(var in testTuple):
    print(f"{var} exists in testTuple")
else:
  print(f"{var} does not exist in testTuple")

55 exists in testTuple

In [ ]:
#Q21 Find the index of JDA in myTuple . # NOTE index doesn't work properly with nested tuples # Wrong output
print(myTuple)

# index1 = myTuple.index("JDA")
# print(f"Index is {index1}")

# Find the index of 'Coursera' in myTuple

def find_index(tup, item):
    for i, value in enumerate(tup):
        if value == item:
            return i
        elif isinstance(value, tuple):
            nested_index = find_index(value, item)
            #print(nested_index)
            if nested_index is not None:
                return (i,) + (nested_index,)
    return None

index = find_index(myTuple, 'Coursera')
print(index)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Group 1')
(6, 0)

In [ ]:
#Q22 print index 8 from myTuple
print(myTuple[8])

Group 1

In [ ]:
#Q23 Get the 4th element from the begining of myTuple
#and 4th element from last of a myTuple
print(f"4th element from the begining of myTuple is : {myTuple[3]}")
print(f"4th element from the end of myTuple is : {myTuple[-4]}")

4th element from the begining of myTuple is : 30
4th element from the end of myTuple is : 2021

In [ ]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
x = myTuple.count(55)
print(x)

0

**2. Lists**

In [ ]:
#Q1 Create a tuple with all participant names in the JDA program
participantTuple = ("Nirrmala","Delina","Arvind","Meron","Amal","Samual","Tahani","Rithu","anurudhran","Neha","Lalitha","Meena","Nicolas","Chris","Ankitha","Astha","tolga","Nishanthan","Bhanu")
print(participantTuple)

('Nirrmala', 'Delina', 'Arvind', 'Meron', 'Amal', 'Samual', 'Tahani', 'Rithu', 'anurudhran', 'Neha', 'Lalitha', 'Meena', 'Nicolas', 'Chris', 'Ankitha', 'Astha', 'tolga', 'Nishanthan', 'Bhanu')

In [ ]:
#Q2 Convert the tuple into a list called pps_L
pps_L = list(participantTuple)
print(pps_L)

In [ ]:
#Q3 What is the length of your list
print(len(pps_L))

In [ ]:
#Q4 Find the values stored in indexes [3],[5],[14],[30],[38]
print(pps_L[3])
print(pps_L[5])
print(pps_L[14])
#print(pps_L[30])
#print(pps_L[38])

In [ ]:
#Q5 Check if "Sarah" is in the list
print(pps_L)
if "sharah" in pps_L:
    print("sharah is in the list")
else:
    print("sharah is not in the list")

In [ ]:
#Q6 Add "Sarah" to your list
#print(pps_L,"\n")
pps_L.append("Sarah")
print(pps_L)

In [ ]:
#Q7 Check if "Bashir" is in the list
#print(pps_L)
if "Bashir" in pps_L:
    print("Bashir is in the list")
else:
    print("Bashir is not in the list")

In [ ]:
#Q9 Add "Bashir" to your list
pps_L.append("Bashir")
print(pps_L)

In [ ]:
#Q10 Find the index of the element "Sarah" in the list

print(pps_L.index("Sarah"))

In [ ]:
#Q11 Change the value of the index in Q10 from "Sarah" to "Instructor"
sarah_index = pps_L.index("Sarah")
pps_L[sarah_index] = "Instructor"
print(sarah_index)
print(pps_L)

In [ ]:
#Q12 Find the index of the element "Bashir" in the list
print(pps_L.index("Bashir"))

In [ ]:
#Q13 Change the value of the index in Q12 from "Bashir" to "Peer-Mentor"
Bashir_index = pps_L.index("Bashir")
pps_L[Bashir_index] = "Peer-Mentor"
print("Index of Peer-Mentor is :",pps_L.index("Peer-Mentor"))

### 3. **Dictionary**

In [ ]:
#Q1 Create a dictionary for all participants in the JDA program.
#Keys should be the first letter in their names, Values should be their names.
#[Hint] dic={"l":(Leul),"J":(Jerry,Jainam)........}
Dict = {"L": "Leul", "J": "Jerry, Jainam", "A": "Arvind, Amil", "T": "Tahani", "N": "Nirrmala", "S": "Samuel", "D": "Delina", "M": "Meron"}
Dict

{'L': 'Leul',
 'J': 'Jerry, Jainam',
 'A': 'Arvind, Amil',
 'T': 'Tahani',
 'N': 'Nirrmala',
 'S': 'Samuel',
 'D': 'Delina',
 'M': 'Meron'}

In [ ]:
#Q2 What are the keys of your dictionary
participants = {"L": "Leul", "J": "Jerry, Jainam", "A": "Arvind, Amil", "T": "Tahani", "N": "Nirrmala", "S": "Samuel", "D": "Delina", "M": "Meron"}
participants.keys()

dict_keys(['L', 'J', 'A', 'T', 'N', 'S', 'D', 'M'])

In [ ]:
#Q3 What are the values of your dictionary
participants.values()

dict_values(['Leul', 'Jerry, Jainam', 'Arvind, Amil', 'Tahani', 'Nirrmala', 'Samuel', 'Delina', 'Meron'])

In [ ]:
#Q4 Find participant's names that start with J,I,M,C,A
letters_to_search = ['J', 'I', 'M', 'C', 'A']
found_names = [name.strip()
  for letter in letters_to_search
               if letter in participants
  for name in participants[letter].split(', ')]
print(found_names)

['Jerry', 'Jainam', 'Meron', 'Arvind', 'Amil']

In [ ]:
#Q5 Add the following to your dictionary
# Key<(K,PD)>, Value<(Kristina)>
participants['K','PD'] = "Kristina"
participants

{'L': 'Leul',
 'J': 'Jerry, Jainam',
 'A': 'Arvind, Amil',
 'T': 'Tahani',
 'N': 'Nirrmala',
 'S': 'Samuel',
 'D': 'Delina',
 'M': 'Meron',
 ('K', 'PD'): 'Kristina'}

In [ ]:
#Q6 Find the length of your dictionary
len(participants)

9

In [ ]:
#Q7 Add the following to your dictionary
# Key<(S,Instructor)>, Value<(Sarah)>
participants['S','Instructor'] = "Sarah"
participants

{'L': 'Leul',
 'J': 'Jerry, Jainam',
 'A': 'Arvind, Amil',
 'T': 'Tahani',
 'N': 'Nirrmala',
 'S': 'Samuel',
 'D': 'Delina',
 'M': 'Meron',
 ('K', 'PD'): 'Kristina',
 ('S', 'Instructor'): 'Sarah'}

In [ ]:
#Q8 Find the length of your dictionary
len(participants)

10

In [ ]:
#Q7 Delete the following keys from your dictionary
#Key<(S,Instructor)>
#Key<J>
keys_to_delete = [('S', 'Instructor'), 'J']
for key in keys_to_delete:
    if key in participants:
        del participants[key]
print(participants)

{'L': 'Leul', 'A': 'Arvind, Amil', 'T': 'Tahani', 'N': 'Nirrmala', 'S': 'Samuel', 'D': 'Delina', 'M': 'Meron', ('K', 'PD'): 'Kristina'}

In [ ]:
#Q9 Find the length of your dictionary
len(participants)

8

In [ ]:
#Q10 Create a new dictionary called synonyms_dic
synonyms_dic={}
synonyms_dic

{}

In [ ]:
#Q11 Add the synonyms of the following words to your dictionary
#Bad, Good, Awesome, Cold, Easy, Hard, Big, Small
synonyms_dic["Bad"] = ["Awful", "Terrible", "Poor", "Negative"]
synonyms_dic["Good"] = ["Excellent", "Great", "Fine", "Superb"]
synonyms_dic["Awesome"] = ["Amazing", "Fantastic", "Incredible", "Outstanding"]
synonyms_dic["Cold"] = ["Chilly", "Frigid", "Freezing", "Icy"]
synonyms_dic["Easy"] = ["Simple", "Effortless", "Uncomplicated", "Straightforward"]
synonyms_dic["Hard"] = ["Difficult", "Challenging", "Tough", "Demanding"]
synonyms_dic["Big"] = ["Large", "Huge", "Gigantic", "Massive"]
synonyms_dic["Small"] = ["Little", "Tiny", "Miniature", "Petite"]
synonyms_dic

{'Bad': ['Awful', 'Terrible', 'Poor', 'Negative'],
 'Good': ['Excellent', 'Great', 'Fine', 'Superb'],
 'Awesome': ['Amazing', 'Fantastic', 'Incredible', 'Outstanding'],
 'Cold': ['Chilly', 'Frigid', 'Freezing', 'Icy'],
 'Easy': ['Simple', 'Effortless', 'Uncomplicated', 'Straightforward'],
 'Hard': ['Difficult', 'Challenging', 'Tough', 'Demanding'],
 'Big': ['Large', 'Huge', 'Gigantic', 'Massive'],
 'Small': ['Little', 'Tiny', 'Miniature', 'Petite']}

In [ ]:
#Q12 Use your dictionary to find the synonym of the following words
# Awesome, Easy, Small, Old
# Accessing synonyms using the dictionary
synonym_awesome = synonyms_dic.get("Awesome", [])
synonym_easy = synonyms_dic.get("Easy", [])
synonym_small = synonyms_dic.get("Small", [])
synonym_old = synonyms_dic.get("Old", [])

# Printing synonyms
print("Synonym of Awesome:", synonym_awesome)
print("Synonym of Easy:", synonym_easy)
print("Synonym of Small:", synonym_small)
print("Synonym of Old:", synonym_old)

Synonym of Awesome: ['Amazing', 'Fantastic', 'Incredible', 'Outstanding']
Synonym of Easy: ['Simple', 'Effortless', 'Uncomplicated', 'Straightforward']
Synonym of Small: ['Little', 'Tiny', 'Miniature', 'Petite']
Synonym of Old: []

In [ ]:
#Q13 Delete everything from synonyms_dic
synonyms_dic.clear()
print(synonyms_dic)

{}

In [ ]:
#Q14 Print all values in synonyms_dic
synonyms_dic.values()

dict_values([])

In [ ]:
#Q15 Convert the below two lists into dictionary
Keys=["True","False"]
Values=[1,0]
answer={'True:' '1', 'False:' '0'}
answer

{'False:0', 'True:1'}

In [ ]:
#Q16 Sum all the values in the following dictionary
income={'Jan':1000,'Feb':1500,'Mar':980,'April':1000}
total_income = sum(income.values())
print("Total income:", total_income)

Total income: 4480

In [ ]:
#Q17 Create the following dictionary encryption={10:"hungry", 101:"am", 110:"I",
# What should be the decryption of the following code "110 101 10 1011 110 1001 1