In [ ]:
#Analyzing a real world data-set with SQL and Python
#Objectives
#After completing this lab you will be able to:

#Understand a dataset of selected socioeconomic indicators in Chicago
#Learn how to store data in an SQLite database.
#Solve example problems to practice your SQL skills

In [ ]:
#Connect to the database
#Let us first load the SQL extension and establish a connection with the database

#The syntax for connecting to magic sql using sqllite is
#%sql sqlite://DatabaseName

#where DatabaseName will be your .db file

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
import csv, sqlite3

con = sqlite3.connect("socioeconomic.db")
cur = con.cursor()
!pip install -q pandas==1.1.5

In [9]:
#database is "socioeconomic"
%sql sqlite:///socioeconomic.db

'Connected: @socioeconomic.db'

In [20]:
#Store the dataset in a Table
#In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 
#To analyze the data using SQL, it first needs to be stored in the database.
#We will first read the csv files from the given url into pandas dataframes
#Next we will be using the df.to_sql() function to convert each csv file to a table in sqlite with the csv data loaded in it

#import pandas
#df = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
#df

In [21]:

import pandas
df = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
df.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False,method="multi")

In [22]:
#You can verify that the table creation was successful by making a basic query like:

%sql SELECT * FROM chicago_socioeconomic_data limit 5

 * sqlite:///socioeconomic.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

In [23]:
#df

#df = pandas.read_sql_query("select * from chicago_socioeconomic_data;", conn)

#print the dataframe
#df

In [24]:
#Q1: How many rows are in the dataset?Â¶

%sql SELECT COUNT(*) FROM chicago_socioeconomic_data;

 * sqlite:///socioeconomic.db
Done.

[(78,)]

In [25]:
#q2: How many community areas in Chicago have a hardship index greater than 50.0?

%sql SELECT COUNT(*) FROM chicago_socioeconomic_data WHERE hardship_index > 50.0;

 * sqlite:///socioeconomic.db
Done.

[(38,)]

In [26]:
#Q3: What is the maximum value of hardship index in this dataset?
%sql SELECT MAX(hardship_index) FROM chicago_socioeconomic_data;

 * sqlite:///socioeconomic.db
Done.

[(98.0,)]

In [27]:
#Q4: Which community area which has the highest hardship index?Â¶

#We can use the result of the last query to as an input to this query:
%sql SELECT community_area_name FROM chicago_socioeconomic_data where hardship_index=98.0

 * sqlite:///socioeconomic.db
Done.

[('Riverdale',)]

In [29]:
#or another option:
%sql SELECT community_area_name FROM chicago_socioeconomic_data ORDER BY hardship_index DESC NULLS LAST FETCH FIRST ROW ONLY;

 * sqlite:///socioeconomic.db
(sqlite3.OperationalError) near "FETCH": syntax error
[SQL: SELECT community_area_name FROM chicago_socioeconomic_data ORDER BY hardship_index DESC NULLS LAST FETCH FIRST ROW ONLY;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [30]:
#or you can use a sub-query to determine the max hardship index:
%sql select community_area_name from chicago_socioeconomic_data where hardship_index = ( select max(hardship_index) from chicago_socioeconomic_data )

 * sqlite:///socioeconomic.db
Done.

[('Riverdale',)]

In [ ]:
#Q5: Which Chicago community areas have per-capita incomes greater than $60,000?

%sql SELECT community_area_name FROM chicago_socioeconomic_data WHERE per_capita_income_ > 60000;

In [ ]:
#Q6:Create a scatter plot using the variables per_capita_income_ 
#and hardship_index. Explain the correlation between the two variables.Â¶

# if the import command gives ModuleNotFoundError: No module named 'seaborn'
# then uncomment the following line i.e. delete the # to install the seaborn package 
# !pip install seaborn

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

income_vs_hardship = %sql SELECT per_capita_income_, hardship_index FROM chicago_socioeconomic_data;
plot = sns.jointplot(x='per_capita_income_',y='hardship_index', data=income_vs_hardship.DataFrame())